body {
  font-family: "indie flower";
  height: 100vh;
  margin: 50px;
  background-color: grey;
}
#container {
  width: 100%;
  display: flex;
}
#posts {
  display: flex;
  flex-wrap: wrap;
}
.post {
  background: #a2d2ff;
  background: linear-gradient(
    178deg,
    rgba(162, 210, 255, 1) 0%,
    rgba(167, 167, 167, 0.995) 100%
  );
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  height: 100px;
  width: 120px;
  margin: 10px;
}
.post2 {
  background: #59b314;
  background: linear-gradient(
    178deg,
    rgb(162, 255, 174) 0%,
    rgb(160, 161, 166) 100%
  );
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  height: 100px;
  width: 120px;
  margin: 10px;
}
.post {
  transform: rotate(-4deg) translate(20px, 30px);
  z-index: 1;
}
.post2 {
  transform: rotate(4deg) translate(20px, 30px);
  z-index: 1;
}
.post:hover {
  transform: scale(1.2);
}
.post2:hover {
  transform: scale(1.2);
}
h1 {
  font-size: x-large;
  font-weight: bold;
}
